<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    <h1>URL SHORTNER</h1>
    <form action="/shortUrls" method="POST">
        <label for="url">URL</label>
        <input type="url" name="fullUrl" id="fullUrl">
        <button type="submit">Shrink</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>

        <tbody>
            <% for (let i of shortUrl) { %>
                <tr>
                    <td><a href="<%= i.full %>"><%= i.full %></a></td>
                    <td><a href="<%= i.short %>"><%= i.short %></a></td>
                    <td><a href="<%= i.clicks %>"><%= i.clicks %></a></td>
                </tr>
            <% } %>
        </tbody>
        
    </table>
</body>
</html>